In [67]:
# Prints a Statement

'''
These are bulk comments 
'''

print("Hello World")

Hello World

In [1]:
# Comments
'''
multiple comments
line2 
line 3
line 4
'''
print("Welcome to the world of Python")

Welcome to the world of Python

In [2]:
24

24

In [1]:
# Creating Identifiers
A = 16
B = 17
C = "Edureka"
D = " has the Edge"
A
C + D
17 // 4.0

4.0

In [37]:
print(2 ** 7)
print(3 * 3.75 /1.5)
3 * 3.75 /1.5

128
7.5

7.5

In [35]:
'''
In interactive mode, the last printed expression is assigned to the variable _. 
This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:
'''
tax = 12.5 / 100
print(type(tax))
price = 100.50
print(type(price))
price * tax

<type 'float'>
<type 'float'>

12.5625

In [38]:
print(_)
price + _
round(_, 2)

7.5

7.5

In [20]:
round(_, 1)

314.1

In [40]:
at = tuple(89,90)
print(at)

TypeError: 'int' object is not iterable

In [7]:
# Various Variable Names
abc123 = 989
print(abc123)
_123abc = 898
print(_123abc)

989
898

In [3]:
_william = 'William Shakespeare'
caseLowerCaseName = 'william shakespeare'
print(caseLowerCaseName)
case_lower_case = 'william shakespeare'
print(case_lower_case)

william shakespeare
william shakespeare

In [10]:
# Four Numeric types  - plain integers, long integers, floating point numbers, and complex numbers
'''
Plain integers (also just called integers) are implemented using long in C, which gives them at least 32 bits of precision. 
Long integers have unlimited precision. 
Floating point numbers are usually implemented using double in C; 
information about the precision and internal representation of floating point numbers for the machine on which your program 
is running is available in sys.float_info. 
Complex numbers have a real and imaginary part, which are each a floating point number.
'''
a = 67
b = 56.5
c = 657.76897
d = 5 + 3j
ef = 123456789192943489573489783458348738478374927984789379487893749874398798718937498327984739875983759875897398573987458972894
print(type(ef))

<type 'long'>

In [12]:
# Integer MaxValue
sys.maxint
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [28]:
# intege MinValue
-sys.maxint - 1

-9223372036854775808

In [13]:
# Complex numbers have a real and imaginary part, which are each a floating point number.
z = 5.56 + 9.67j
print(z.real)
print(z.imag)

5.56
9.67

In [20]:
print('a is of '); print(type(a))
print('z is of '); print(type(z))

a is of
<type 'int'>
z is of
<type 'complex'>

In [14]:
# Multiple Numeric Types and usage
a = 54689893777377377120983092848092814908102948091248091824098124098120948091284091284098120948109284091284098120948120948
print(type(a))
print(a)

b = 3.145463099399238979834758734895789347589734985789347598734895734895798347598374985734985798347598347598734895734987598347598
print(type(b))
print(b)

c = 3.14567476
print(type(c))

d = 3.14
print(type(d))

e = 1234567891234567890
print(type(e))

f = 12345678912345678901
print(type(f))

<type 'long'>
54689893777377377120983092848092814908102948091248091824098124098120948091284091284098120948109284091284098120948120948
<type 'float'>
3.1454630994
<type 'float'>
<type 'float'>
<type 'int'>
<type 'long'>

In [18]:
ab = 546898937773773771209830928480928149081029480912480918240981240981209480912840912840981209481092840912840
print(ab)
print(type(ab))

af = float(ab)
print(af)
print(type(af))

ab = 67
print(ab)

546898937773773771209830928480928149081029480912480918240981240981209480912840912840981209481092840912840
<type 'long'>
5.46898937774e+104
<type 'float'>
67

In [15]:
# Converting Types - Type Casting
a = 67.9
b = 77.4
print(type(b))
print(type(a))
print(int(b))
print(int(a))

c = 67
print(float(c))
print(str(c))

<type 'float'>
<type 'float'>
77
67
67.0
67

In [20]:
# Numeric Operations
print(17 / 3) # int / int -> int

print(7 / 3.0)     # int / float -> float

print(7 // 3.0)  # explicit floor division discards the fractional part

print(17 % 3)  # the % operator returns the remainder of the division

print(5 * 3 + 2)  # result * divisor + remainder

print(4 ** 3)

5
2.33333333333
2.0
2
17
64

In [22]:
# Variable Assignments, multiple on one single line
a, b,c,d,e = 3, 4,5,6,7
print(a,b,c,d,e)
print(type(a))

(3, 4, 5, 6, 7)
<type 'int'>

In [42]:
# Mixing operators between numbers and strings is not supported:
# This will not work!
one = 1
two = 2
hello = "hello"
string = 'string'


print(str(one) + str(two) + hello + string)

12hellostring

In [52]:
# Strings
String1 = 'Welcome'
String2 = "to"
String3 = """EDUREKA"""

print(String1 + " " + String2 + " " + String3 )
print(len(String1))
print('Wel' in String1)
print('Wel' not in String3)
print(String3[1:3])

print(String1*2)

Welcome to EDUREKA
7
True
True
DU
WelcomeWelcome
to

In [51]:
print("My name is %s and i am here to learn %s. My Work Experience is %d years. My CGPA is %f" %("Annie","pySpark",5,78.55))

My name is Annie and i am here to learn pySpark. My Work Experience is 5 years. My CGPA is 78.550000

In [48]:
# Stirngs Continued
s =  "edurekadu"
print(s.capitalize())
print(s.count("du",0,len(s)))

Edurekadu
2

In [53]:
# Stirngs Continued
ls=s.encode('utf-8','strict')
print(ls)

edureka

In [49]:
# Strings Continued
print(max(s))
print(min(s))
print(s.replace('e','--ED--',1))
print(s.replace('e','--ED--',2))
print(s.upper())
print(s.index('a'))

u
a
--ED--durekadu
--ED--dur--ED--kadu
EDUREKADU
6

In [50]:
# Strings Continued
str1 = "Something Good lies in every Action of God"
print(str1[::-1]) # Reverse
print(str1[2:7])  # Slice
print(str1.find('l')) # find a character
print(str1.find('L')) # find a character
str2 = " and its all about perspectives" 
print(str1 + str2) # Concatenation
print(str1 * 2)

doG fo noitcA yreve ni seil dooG gnihtemoS
methi
15
-1
Something Good lies in every Action of God and its all about perspectives
Something Good lies in every Action of GodSomething Good lies in every Action of God

In [58]:
tupleabc = ("Engineering","Accounts","Finance")
print(tupleabc[2])
# tupleabc[0] = "Sales"

Finance

TypeError: 'tuple' object does not support item assignment

In [6]:
# tuple
tuple1 = ("Marketing","Sales")
print(tuple1) 
print(len(tuple1))
print(max(tuple1))
print(min(tuple1))
tup = (5,2,3,1)
print(sorted(tup))
print(tup[::-1])
print(tup*2)
print('Sales' in tuple1) # MemberShip Test

tup1 = (1,3,5,7)
tup2 = ('johny','john')
tup3 = tup1 + tup2
print(tup3)
print(type(tup3))
del(tup3)
# print(tup3)

('Marketing', 'Sales')
2
Sales
Marketing
[1, 2, 3, 5]
(1, 3, 2, 5)
(5, 2, 3, 1, 5, 2, 3, 1)
True
(1, 3, 5, 7, 'johny', 'john')
<type 'tuple'>

In [74]:
# Difference between Lists and Tuples
list1= [1,2,'python','scala']
print(list1)
list1[1] = '.Net'
print(list1)

tup=(1,2,'python','scala')
print(tup[2])
tup[2] = '.Net'
print(tup)

[1, 2, 'python', 'scala']
[1, '.Net', 'python', 'scala']
python

TypeError: 'tuple' object does not support item assignment

In [83]:
# A list inside a Tuple
tup=([1,2,3,5,6],['C #','python','scala'])
print(tup)
print(tup[0])
print(tup[0][0]) # Accessing inner List
tup[0][0] = 100 # Updating a Tuple via list, work around
print(tup)
print(tup[0][::-1]) # Reversing inner List
print(tup[0][2::2]) # Slicing
del(tup[1][2]) # Deleting an element
del(tup[1])
print(tup)

([1, 2, 3, 5, 6], ['C #', 'python', 'scala'])
[1, 2, 3, 5, 6]
1
([100, 2, 3, 5, 6], ['C #', 'python', 'scala'])
[6, 5, 3, 2, 100]
[3, 6]

TypeError: 'tuple' object doesn't support item deletion

In [102]:
tup=([1,2,3,5,6],['C #','python','scala'])
print(tup[0][2::2])

list1 = [34,56,78,99,100,110,200,300,400]
print(list1[1:3])
print(list1[2:3])
print(list1[2::2])
print(list1[2::3])
# tup[0][0][1][0]

print(tup[1][2])
print(tup[-2][-5])

[3, 6]
[56, 78]
[78]
[78, 100, 200, 400]
[78, 110, 400]
scala
1

In [106]:
# Converting a Tuple into Lists
print(tup)
tuplist = list(tup)

tup25=([1,2,3,5,6],('C #','python','scala'))
print(tup25[0][1])
tup25[1][1] = 45

([1, 2, 3, 5, 6], ['C #', 'python', 'scala'])
2

TypeError: 'tuple' object does not support item assignment

In [134]:
tupnew = (1,2,3,4,5)
# listnew = list(tup)
list1 = [1,2,3,4,5]
print(list1)
print(tuple(list1))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [111]:
# List
list2 = ["Apple","Orange","Banana"]
print(list2[0])
print(list2[0:2])
print(list2[-1]) #last element in a list is always at -1 index
print(list2[2])
del(list2[-1])
print(list2)
list3=[1,2,3,4,5,6,'a','b','c','d']
print(list3.pop(3)) # popping an element at an index
list3.remove('a')
print(list3)
print(type(list3))
list4 = [x **2 for x in [1,2,3,4,5,6]]
print(list4[0])
print([x **2 for x in [1,2,3,4,5,6]])

Apple
['Apple', 'Orange']
Banana
Banana
['Apple', 'Orange']
4
[1, 2, 3, 5, 6, 'b', 'c', 'd']
<type 'list'>
1
[1, 4, 9, 16, 25, 36]

In [112]:
# List Built in functions
list5 = [1,2,3]
list5.append("machine Learning") # adding an element at the end of existing list
print(list5)
list5.extend(['g','h']) # adding multiple elements in the list
print(list5)
list5.insert(1,"New Letter")
print(list5)
print(list5[::-1])

[1, 2, 3, 'machine Learning']
[1, 2, 3, 'machine Learning', 'g', 'h']
[1, 'New Letter', 2, 3, 'machine Learning', 'g', 'h']
['h', 'g', 'machine Learning', 3, 2, 'New Letter', 1]

In [201]:
# Dictionaries
dict={1:"Python",2:"Scala",3:"Java"}
print(dict)
print(dict[1])
dict[1] = "C #"
print(dict)
del(dict[2])
print(dict)
len(dict)
print(str(dict))
print(type(dict))

# multi dimensional dictionary
rec = {'name': {'first':'Bob','last':'Marley'}, 'jobs': ['dev','mgr'],'age':40.75}
print(rec.get('name'))
print(rec.get('jobs'))
print(rec['name']['last'])
print(rec['jobs'][0])
rec['jobs'] = ['SR Manager'] # Update
print(rec)

# more funcs
rec.items() # returns a list
print(rec.keys()) # returns all keys
print(rec.values()) # returns all values
print(rec.setdefault(1,4)) # sets default value if key isnt in dictionary already 
print(rec)
dict1 = dict.copy() # copy dictionary
print(dict)
print(dict1) 
dict1.clear() # Clear the dictionary
print(dict1)
for key in rec: 
    print(key,'=>',rec[key])

{1: 'Python', 2: 'Scala', 3: 'Java'}
Python
{1: 'C #', 2: 'Scala', 3: 'Java'}
{1: 'C #', 3: 'Java'}
{1: 'C #', 3: 'Java'}
<type 'dict'>
{'last': 'Marley', 'first': 'Bob'}
['dev', 'mgr']
Marley
dev
{'age': 40.75, 'jobs': ['SR Manager'], 'name': {'last': 'Marley', 'first': 'Bob'}}
['age', 'jobs', 'name']
[40.75, ['SR Manager'], {'last': 'Marley', 'first': 'Bob'}]
4
{1: 4, 'age': 40.75, 'jobs': ['SR Manager'], 'name': {'last': 'Marley', 'first': 'Bob'}}
{1: 'C #', 3: 'Java'}
{1: 'C #', 3: 'Java'}
{}
(1, '=>', 4)
('age', '=>', 40.75)
('jobs', '=>', ['SR Manager'])
('name', '=>', {'last': 'Marley', 'first': 'Bob'})

In [140]:
dict1 = {'B': 'Bio','C':'Chemistry','P':'Physics'}
print(dict1)
dict1['C'] = 'Chemical Engineering'
print(dict1)
len(dict1)
str(dict1)
list(dict1)
tuple(dict1)
# multi dimensional dictionary
rec = {'name': {'first':'Bob','last':'Marley'}, 'jobs': ['dev','mgr'],'age':40.75}
rec['name']['first']
rec['jobs'][1]
rec['age']
rec.get('name')
rectup = {'name': {'first':'Bob','last':'Marley'}, 'jobs': ['dev','mgr'],'age':40.75, 'hobbies': ('cricket','football'),'hobbies':('hockey','badminton','badminton')}
print(rectup['hobbies'])
print(rectup)
rec.items() 
print(rectup.setdefault('name','default'))
rectup.clear()
print(rectup)

{'P': 'Physics', 'C': 'Chemistry', 'B': 'Bio'}
{'P': 'Physics', 'C': 'Chemical Engineering', 'B': 'Bio'}
('hockey', 'badminton', 'badminton')
{'age': 40.75, 'jobs': ['dev', 'mgr'], 'name': {'last': 'Marley', 'first': 'Bob'}, 'hobbies': ('hockey', 'badminton', 'badminton')}
{'last': 'Marley', 'first': 'Bob'}
{}

In [206]:
# tuple in dictionary
dicttup={1:('python','java'),2:(1,3,5,7)}
print(dicttup)
print(dicttup[1][0])

#list in dictionary
dictlist={1:['python','java'],2:[9,6,5,7]}
print(dictlist)
print(dictlist[1][0])

{1: ('python', 'java'), 2: (1, 3, 5, 7)}
python
{1: ['python', 'java'], 2: [9, 6, 5, 7]}
python

In [230]:
# Sets - unique collection of items
set1 = set('Welcome')
print(set1)
A = {1,2,3,4,5}
B = {6,7,8,9,10,1,2,3,5}
C = A | B | set1 # Union
print(C)
print(A & B) # Intersection
print(A - B) # Difference
print(B - A) # Difference
print(1 in C) # Membership Test
print(set1.issubset(C)) # Membership test
print(C.issubset(set1)) # Membership test
print(C.issuperset(set1)) #Superset test
D = {1,2,3,4,5,1,2,3,4,5}
print(D)
print(set1.symmetric_difference(C))

set(['c', 'e', 'm', 'l', 'o', 'W'])
set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'm', 'c', 'o', 'l', 'W', 'e'])
set([1, 2, 3, 5])
set([4])
set([8, 9, 10, 6, 7])
True
True
False
True
set([1, 2, 3, 4, 5])
set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [32]:
pass_maths = {11,21,31,41,51}
pass_english = {11,21,31,41,51,16,7,81,9}
print(pass_maths.symmetric_difference(pass_english))
print(pass_maths.symmetric_difference(pass_english))
set1 = {"1,2,3","4,45,55",66,66}
print(set1)
pass_result= pass_maths.symmetric_difference(pass_english))
set3 = {11,22,33,44}

set([7, 16, 81, 9])
set([7, 16, 81, 9])
set(['4,45,55', 66, '1,2,3'])

In [16]:
#Sets continued:
s = {1,2,3,4,5,'a','b'}
s.add(345)
print(s)
s.remove(1)
# s.remove(55)
print(s)
s.discard(55)
s.discard(2)
print(s)
dp = s.pop()
print(dp)
print(s)
s.pop()
print(s)
s.clear()
print(s)

set(['a', 1, 2, 3, 4, 5, 'b', 345])
set(['a', 2, 3, 4, 5, 'b', 345])
set(['a', 3, 4, 5, 'b', 345])
a
set([3, 4, 5, 'b', 345])
set([4, 5, 'b', 345])
set([])

In [13]:
# sets continued
set1 = {1,2,3,4,5,6}
set2 = {2,3,4,5,7}
print(set1 | set2) # Union
print(set1 & set2) # Intersection
print(set1 - set2) # Difference

print(1 in set1) # Membership test
print(set1.issubset(set2)) # subset
print(51 not in set2)

print(set1.issuperset(set2))

set([1, 2, 3, 4, 5, 6, 7])
set([2, 3, 4, 5])
set([1, 6])
True
False
True
False

In [36]:
# python logical operators
x = True
y = False
print(x and y) # And
print(x or y) # or
print(not x)
print(not y)

False
True
False
True

In [260]:
# python binary (bit-wise) operators
a = 10 # (0000 1010 in binary)
b = 4 # (0000 0100 in binary)
print(a & b) # 0 is (0000 0000) in binary
print(a | b) # 14 (0000 1110) 
print(a ^ b) # 14 (0000 1110))
print(~ a)
print(a >> 2) # bitwise right shift
print(a << 2) # bitwise left shift

0
14
14
-11
2

In [38]:
# Conditional Operators
'''
if, elif, else
'''
x = 10
y = 40
if(x > y):
    print('x is greater than y')
elif (y > x):
    print('y is greater than x')
else:
    print('x and y are equal')

y is greater than x

In [39]:
# While
counter=0
while(counter<5):
    print('iteration ' + str(counter))
    counter += 1

print("Good Bye")

iteration 0
iteration 1
iteration 2
iteration 3
iteration 4
Good Bye

In [26]:
# Types of Loops
'''
for, while, do while
'''
# While
counter=0
while(counter<5):
    print('iteration ' + str(counter))
    counter += 1

print("Good Bye")

# for
fruits=('banana','apple','orange')
for index in range(len(fruits)):
    print('Index within range: ' + str(fruits[index]))

iteration 0
iteration 1
iteration 2
iteration 3
iteration 4
Good Bye
Index within range: banana
Index within range: apple
Index within range: orange

In [40]:
# for
fruits=('banana','apple','orange')
for index in range(len(fruits)):
    print('Index within range: ' + str(fruits[index]))

Index within range: banana
Index within range: apple
Index within range: orange

In [42]:
# Types of loops continued
'''
Nested Loops
'''
count=0
for i in range(10):
    print(str(i)*i)
    
    for j in range(0,i):
        count += 1

print(count)

1
22
333
4444
55555
666666
7777777
88888888
999999999
45

In [44]:
# Loop Control Statements
'''
break
'''
for i in range(10,50):
    print(i)
    if(i==30):
        break

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [50]:
# Continue
for j in range(1,11):
    print(j)
    if (j == 7):
        continue
    print('An Idea!!!!')

1
An Idea!!!!
2
An Idea!!!!
3
An Idea!!!!
4
An Idea!!!!
5
An Idea!!!!
6
An Idea!!!!
7
8
An Idea!!!!
9
An Idea!!!!
10
An Idea!!!!

In [51]:
# pass
for k in range(1,3):
    pass
#    print('Good Bye ' + str(k))

In [57]:
# Giving inputs to the program
Age=input("Enter your Age please")
print(type(Age))
print("Your age is " + str(Age))
if Age < 18:
    print("You are not allowed to vote")
elif Age > 18:
    print("Congratulations, you can vote...")
else:
    print("Hey, you've just reached 18, elections are yours now...'")

Enter your Age please45
<type 'int'>
Your age is 45
Congratulations, you can vote...

In [64]:
# read
file_obj=open("/mnt/home/edureka_250203/sample1.txt","r")

if file_obj.mode=="r":
    read_fileobj= file_obj.read()
    print(read_fileobj)

elif file_obj.mode=="w+":
    print("reading before writing")
    read_fileobj= file_obj.read()
    print(read_fileobj)

    for i in range(3):
        file_obj.write("This is a new line # %d\r\n" % (i + 1))
    
#    print("reading after writing")

elif file_obj.mode=="a+":
    for i in range(3):
        file_obj.write("This is A VERY new line # %d\r\n" % (i + 1))
    
else:
    print("pass")

file_obj.close()
# write

This is a new line # 1
This is a new line # 2
This is a new line # 3
This is A VERY new line # 1
This is A VERY new line # 2
This is A VERY new line # 3

In [65]:
os.rename("/mnt/home/edureka_250203/sample11.txt","/mnt/home/edureka_250203/sample12.txt")

In [67]:
os.remove("/mnt/home/edureka_250203/sample12.txt")